Repository TheRayquaza/tinyx, changes with the owners that CODEOWNERS names for each.
All owners: @aurelien.daudin, @mateo.lelong, @khaled.mili, @samy.yacef, @maxim.bocquillion, @armand.blin, @baptiste.arnold, @achille.guerard, @gabriel.monteillard, @timothe.merle, @anton.vella, @alexis.pinson, @gabriel.toledano, @noe.susset

fix(k8s/apps/srvc-user-timeline): new image version
  k8s/apps/srvc-user-timeline/deployment.yml
Owners: @alexis.pinson, @gabriel.toledano, @timothe.merle, @noe.susset

feat(repo-social|exchange): bootstrap repo social
  apps/repo-social/docker-compose.yml
  apps/repo-social/pom.xml
  apps/repo-social/src/main/java/com/epita/repo_social/RepoSocialErrorCode.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RepoSocialController.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RepoSocialControllerApi.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/LikeModel.java
  apps/repo-social/src/main/java/com/epita/repo_social/service/SocialService.java
  apps/repo-social/src/main/resources/application.properties
  apps/repo-social/src/main/resources/rsKeyFile
  apps/repo-social/src/test/java/com/epita/repo_social/SocialControllerTest.java
Owners: @achille.guerard, @gabriel.monteillard, @mateo.lelong

feat(repo-social: cleaned the code, layered the archi and created models for neo4j)
  apps/repo-social/src/main/java/com/epita/repo_social/RepoSocialErrorCode.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RepoSocialController.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/response/UserResponse.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/Neo4jRepository.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/BlockRelationship.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/FollowRelationship.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/LikeModel.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/LikeRelationship.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/PostNode.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/UserNode.java
  apps/repo-social/src/main/java/com/epita/repo_social/service/SocialService.java
  apps/repo-social/src/main/java/com/epita/repo_social/service/entity/UserEntity.java
  apps/repo-social/src/main/resources/rsKeyFile
Owners: @achille.guerard, @gabriel.monteillard, @mateo.lelong

feat(repo-social: added the errors and more logic)
  apps/repo-social/src/main/java/com/epita/repo_social/RepoSocialErrorCode.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RepoSocialController.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RepoSocialControllerApi.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/Neo4jRepository.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/PostNode.java
  apps/repo-social/src/main/java/com/epita/repo_social/service/SocialService.java
Owners: @achille.guerard, @gabriel.monteillard, @mateo.lelong

feat(repo-social: changed block logic, tested and made small fixes)
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RedisSubscriber.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RepoSocialController.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RepoSocialControllerApi.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/Neo4jRepository.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/PostNode.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/UserNode.java
  apps/repo-social/src/main/java/com/epita/repo_social/service/SocialService.java
Owners: @achille.guerard, @gabriel.monteillard, @mateo.lelong

feat(repo-social: added endpoint get likedPosts of users => more info for posts in neo4j, converters, more tests)
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RepoSocialController.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RepoSocialControllerApi.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/response/PostResponse.java
  apps/repo-social/src/main/java/com/epita/repo_social/converter/PostEntityToPostResponse.java
  apps/repo-social/src/main/java/com/epita/repo_social/converter/PostNodeToPostEntity.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/Neo4jRepository.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/PostNode.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/UserNode.java
  apps/repo-social/src/main/java/com/epita/repo_social/service/SocialService.java
  apps/repo-social/src/main/java/com/epita/repo_social/service/entity/PostEntity.java
  apps/repo-social/src/test/java/com/epita/repo_social/SocialControllerTest.java
Owners: @achille.guerard, @gabriel.monteillard, @mateo.lelong

feat(repo-social: blocked user unfollows you)
  apps/repo-social/src/main/java/com/epita/repo_social/service/SocialService.java
Owners: @achille.guerard, @gabriel.monteillard, @mateo.lelong

feat(repo-social: added the get requests and the converters, changed relationships name)
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RepoSocialController.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/response/UserResponse.java
  apps/repo-social/src/main/java/com/epita/repo_social/converter/UserEntityToUserResponse.java
  apps/repo-social/src/main/java/com/epita/repo_social/converter/UserNodeToUserEntity.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/Neo4jRepository.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/BlockRelationship.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/FollowRelationship.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/LikeRelationship.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/PostNode.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/UserNode.java
  apps/repo-social/src/main/java/com/epita/repo_social/service/SocialService.java
  apps/repo-social/src/main/java/com/epita/repo_social/service/entity/UserEntity.java
Owners: @achille.guerard, @gabriel.monteillard, @mateo.lelong

feat(repo-social: added error when trying to (un)follow/(un)block yourself)
  apps/repo-social/src/main/java/com/epita/repo_social/service/SocialService.java
Owners: @achille.guerard, @gabriel.monteillard, @mateo.lelong

feat(repo-social: lots of tests)
  apps/repo-social/src/main/java/com/epita/repo_social/RepoSocialErrorCode.java
  apps/repo-social/src/main/java/com/epita/repo_social/service/SocialService.java
  apps/repo-social/src/test/java/com/epita/repo_social/SocialControllerTest.java
Owners: @achille.guerard, @gabriel.monteillard, @mateo.lelong

feat(repo-social: cleaned api and implemed some tests)
  apps/repo-social/pom.xml
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RepoSocialController.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RepoSocialControllerApi.java
  apps/repo-social/src/test/java/com/epita/repo_social/SocialControllerTest.java
Owners: @achille.guerard, @gabriel.monteillard, @mateo.lelong

feat(repo-social: redis subscriber and publisher, delete handling and more tests)
  apps/exchange/src/main/java/com/epita/exchange/redis/command/LikeCommand.java
  apps/repo-social/src/main/java/com/epita/repo_social/RepoSocialErrorCode.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RedisSubscriber.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/Neo4jRepository.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/PostNode.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/UserNode.java
  apps/repo-social/src/main/java/com/epita/repo_social/service/SocialService.java
  apps/repo-social/src/test/java/com/epita/repo_social/SocialControllerTest.java
Owners: @aurelien.daudin, @mateo.lelong, @khaled.mili, @samy.yacef, @maxim.bocquillion, @achille.guerard, @gabriel.monteillard

feat(repo-social: keep the likes when blocking, impossible to block or unblock when the user blocked you, added time to likes)
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/LikeRelationship.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/UserNode.java
  apps/repo-social/src/main/java/com/epita/repo_social/service/SocialService.java
Owners: @achille.guerard, @gabriel.monteillard, @mateo.lelong

feat(repo-social): all posts and deletes endpoint
  apps/repo-social/src/main/java/com/epita/repo_social/RepoSocialErrorCode.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RepoSocialController.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RepoSocialControllerApi.java
  apps/repo-social/src/main/java/com/epita/repo_social/service/SocialService.java
Owners: @achille.guerard, @gabriel.monteillard, @mateo.lelong

fix(apps/repo-social): format code
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RedisSubscriber.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RepoSocialController.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RepoSocialControllerApi.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/response/PostResponse.java
  apps/repo-social/src/main/java/com/epita/repo_social/controller/response/UserResponse.java
  apps/repo-social/src/main/java/com/epita/repo_social/converter/PostEntityToPostResponse.java
  apps/repo-social/src/main/java/com/epita/repo_social/converter/PostNodeToPostEntity.java
  apps/repo-social/src/main/java/com/epita/repo_social/converter/UserEntityToUserResponse.java
  apps/repo-social/src/main/java/com/epita/repo_social/converter/UserNodeToUserEntity.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/Neo4jRepository.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/BlockRelationship.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/FollowRelationship.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/LikeRelationship.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/PostNode.java
  apps/repo-social/src/main/java/com/epita/repo_social/repository/model/UserNode.java
  apps/repo-social/src/main/java/com/epita/repo_social/service/SocialService.java
  apps/repo-social/src/main/java/com/epita/repo_social/service/entity/PostEntity.java
  apps/repo-social/src/main/java/com/epita/repo_social/service/entity/UserEntity.java
  apps/repo-social/src/test/java/com/epita/repo_social/SocialControllerTest.java
Owners: @achille.guerard, @gabriel.monteillard, @mateo.lelong

fix(k8s/apps/repo-social): add deployment for repo social
  k8s/apps/kustomization.yml
  k8s/apps/repo-social/deployment.yml
  k8s/apps/repo-social/ingress.yml
  k8s/apps/repo-social/kustomization.yml
  k8s/apps/repo-social/secrets.yml
  k8s/apps/repo-social/service.yml
Owners: @alexis.pinson, @gabriel.toledano, @timothe.merle, @noe.susset

fix(apps/repo-social): fix env var
  apps/repo-social/src/main/java/com/epita/repo_social/controller/RedisSubscriber.java
  apps/repo-social/src/main/java/com/epita/repo_social/service/SocialService.java
Owners: @achille.guerard, @gabriel.monteillard, @mateo.lelong

feat(k8s): fix
  k8s/apps/srvc-home-timeline/deployment.yml
  k8s/kustomization.yml
Owners: @alexis.pinson, @gabriel.toledano, @timothe.merle, @noe.susset

fix(k8s/apps/repo-social): fix env var neo4j uri
  k8s/apps/repo-social/deployment.yml
  k8s/apps/repo-social/kustomization.yml
Owners: @alexis.pinson, @gabriel.toledano, @timothe.merle, @noe.susset

CODEOWNERS:

# ========== REPOS ==========

/apps/repo-user/           @aurelien.daudin @mateo.lelong @khaled.mili @samy.yacef @maxim.bocquillion
/apps/exchange/            @aurelien.daudin @mateo.lelong @khaled.mili @samy.yacef @maxim.bocquillion
/apps/repo-post/           @khaled.mili @maxim.bocquillion @armand.blin @baptiste.arnold @aurelien.daudin
/apps/repo-social/         @achille.guerard @gabriel.monteillard @mateo.lelong

# ========== SERVICES ==========

/apps/srvc-search/         @armand.blin @mateo.lelong @gabriel.monteillard @timothe.merle
/apps/srvc-home-timeline/  @anton.vella @baptiste.arnold
/apps/srvc-user-timeline/  @alexis.pinson @gabriel.toledano @timothe.merle @noe.susset

# ========== INFRA ==========

/k8s/mongodb/              @mateo.lelong @samy.yacef @khaled.mili @timothe.merle
/k8s/redis/                @mateo.lelong @samy.yacef @baptiste.arnold
/k8s/neo4j/                @achille.guerard @mateo.lelong @samy.yacef @baptiste.arnold
/k8s/elastic/              @mateo.lelong @timothe.merle  # (à compléter si d’autres y touchent)
/k8s/apps/                 @alexis.pinson @gabriel.toledano @timothe.merle @noe.susset   # services + auth = SRS
/k8s                       @alexis.pinson @gabriel.toledano @timothe.merle @noe.susset   # général infra SRS

# ========== CI & GLOBAL ==========

/ci/                       @samy.yacef @armand.blin
/README.md                 @alexis.pinson @gabriel.toledano @timothe.merle @noe.susset
